<div class="box">
    <ul class="cat-list">
        <li class="cat-item"><a href="#">Bijatyki</a></li>
        <li class="cat-item"><a href="#">Strzelanki</a></li>
        <li class="cat-item"><a href="#">Przygodowe gry akcji</a></li>
        <li class="cat-item"><a href="#">Skradanki</a></li>
        <li class="cat-item"><a href="#">Muzyczne</a></li>
        <li class="cat-item"><a href="#">Hack & Slash</a></li>
        <li class="cat-item"><a href="#">MMORPG</a></li>
        <li class="cat-item"><a href="#">RPG</a></li>
        <li class="cat-item"><a href="#">Roguelike</a></li>
        <li class="cat-item"><a href="#">Gry symulacyjne</a></li>
        <li class="cat-item"><a href="#">Gry sportowe</a></li>
        <li class="cat-item"><a href="#">Gry wyścigowe</a></li>
        <li class="cat-item"><a href="#">Gry strategiczne</a></li>
        <li class="cat-item"><a href="#">Gry strategiczne turowe</a></li>
    </ul>
</div>
