<section class="login-hero">
    <div class="login-box">
        <h1>Zaloguj się</h1>
        <p>Podaj e-mail oraz hasło</p>
        <label for="e-mail" class="label-class">E-mail:</label>
        <input type="text" id="e-mail" class="input-class">
        <label for="password" class="label-class">Hasło:</label>
        <input type="text" id="password" class="input-class">
        <button class="btn btn-login">ZALOGUJ</button>
        <button class="btn btn-cancel">ANULUJ</button>
        <p class="no-account">Nie masz konta? <a href="/register">Zarejestruj się!</a></p>
    </div>
</section>
