<section class="section-hero" id="section-hero">
    <div class="heading-box">
        <h1>Witamy w <span>PRO</span>GAMERS!</h1>
        <p>Tutaj wszyscy gracze są jedną, wielką rodziną!</p>
    </div>
</section>

<section class="section-about" id="section-about">
    <div class="row">
        <h1>Kilka słów o portalu</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque fugiat possimus sed enim ipsa fuga debitis nemo saepe veritatis consequatur numquam necessitatibus culpa recusandae omnis officia, obcaecati, nobis voluptas reprehenderit, assumenda ad. Ipsum praesentium odit asperiores error pariatur saepe fugit?</p>

        <div class="about-box">
            
        </div>  
    </div>
</section>
