<nav>
  <a routerLink="/home" class="logo"><fa-icon [icon]="faHeadphones"></fa-icon><span>PRO</span>GAMERS</a>
  <ul class="nav-list">
    <li class="nav-item">
      <a routerLink="/home"><fa-icon [icon]="faHome"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a routerLink="/games"><fa-icon [icon]="faGamepad"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a routerLink="/forum"><fa-icon [icon]="faComments"></fa-icon></a>
    </li>
    <li class="nav-item">
      <a routerLink="/login"><fa-icon [icon]="faSignInAlt"></fa-icon></a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>

<footer>
  <div class="row">
    <ul class="footer-nav">
      <li class="footer-nav-item"><a routerLink="/home"><fa-icon [icon]="faHome"></fa-icon></a></li>
      <li class="footer-nav-item"><a routerLink="/games"><fa-icon [icon]="faGamepad"></fa-icon></a></li>
      <li class="footer-nav-item"><a routerLink="/forum"><fa-icon [icon]="faComments"></fa-icon></a></li>
      <li class="footer-nav-item"><a routerLink="/login"><fa-icon [icon]="faSignInAlt"></fa-icon></a></li>
    </ul>
    <p>All rights reserved &copy; PROGAMERS 2020</p>
  </div>
</footer>