<div class="container">
    <button class="show-menu" (click)="onMenuShow()">
        <span class="first"></span>
        <span class="second"></span>
        <span class="third"></span>
    </button>
    <div class="nav">
        <ul class="nav-list">
            <li class="nav-item"><a routerLink="/forum/thread">Sprawy techniczne</a></li>
            <li class="nav-item"><a routerLink="/forum/thread">Dystuksje gamingowe</a></li>
            <li class="nav-item"><a routerLink="/forum/thread">Dyskusje off-topic</a></li>
            <li class="nav-item"><a routerLink="/forum/thread">Communities</a></li>
        </ul>
        <p class="nav-info">Aby założyć wątek na naszym forum musisz się <a routerLink="/login">zalogować!</a></p>
    </div>
</div>
