<div class="container">
    <a class="cat-back" href="/games"><fa-icon [icon]="faArrowLeft"></fa-icon>Powrót do kategorii</a>
    <h2 class="cat-title">Kategoria: {{category.name}}</h2>
    <div class="games-container">
        <div *ngFor="let game of games">
            <div *ngIf="game.category == category.name">
                <div class="game-box" [routerLink]="['/games', game._id]">
                    <div class="img-half">
                        <img [src]="game.image" alt="Images">
                    </div>
                    <div class="text-half">
                        <h5>{{game.title}}</h5>
                        <div class="parag">
                            <p class="desc">{{game.description}}</p>
                            <p class="rating">{{game.rating}}/5</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

