<section class="hero-section">
    <div class="shadow"></div>
    <div class="hero-box">
        <h1>{{currentCat.name.toUpperCase()}}</h1>
        <p>{{currentCat.description}}</p>
    </div>    
    <img [src]="currentCat.image" alt="Zdjęcie kategorii">
</section>
<section class="games">
    <app-categories [categories]="categories"></app-categories>
    <div class="container">
        <a class="cat-back" href="/games"><fa-icon [icon]="faArrowLeft"></fa-icon>Powrót do kategorii</a>
        <h2 class="cat-title">Kategoria: {{currentCat.name}}</h2>
        <div class="games-container">
            <div *ngFor="let game of games">
                <div *ngIf="game.category == currentCat.name">
                    <div class="game-box" [routerLink]="['/games', currentCat.name, game._id]">
                        <div class="img-half">
                            <img [src]="game.image" alt="Images">
                        </div>
                        <div class="text-half">
                            <h5>{{game.title}}</h5>
                            <div class="parag">
                                <p class="desc">{{game.description}}</p>
                                <p class="rating">{{game.rating}}/5</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

