<section class="game-section">
    <div class="category-nav">
        <app-categories [categories]="categories"></app-categories>
    </div>
    <div class="container">
        <div class="image-box">
            <img src="../../../assets/images/games-cat/bijatyki.jpg" alt="Mortal Kombat">
        </div>
        <div class="game-box">
            <div class="row">
                <h1 class="title">Mortal Kombat XI</h1>
                <p class="description">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga exercitationem nesciunt cupiditate! Dolores assumenda consequatur neque, soluta ut quia vitae inventore, accusamus fuga, quasi tempora corrupti. Possimus vel est veniam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga exercitationem nesciunt cupiditate! Dolores assumenda consequatur neque, soluta ut quia vitae inventore, accusamus fuga, quasi tempora corrupti. Possimus vel est veniam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga exercitationem nesciunt cupiditate! Dolores assumenda consequatur neque, soluta ut quia vitae inventore, accusamus fuga, quasi tempora corrupti. Possimus vel est veniam! Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fuga exercitationem nesciunt cupiditate! Dolores assumenda consequatur neque, soluta ut quia vitae inventore, accusamus fuga, quasi tempora corrupti. Possimus vel est veniam!</p>

                <div class="infos">
                    <div class="infos-box">
                        <h3>PRODUCENT</h3>
                        <p>EA Games</p>
                    </div>
                    <div class="infos-box">
                        <h3>WYDAWCA</h3>
                        <p>EA Games</p>
                    </div>
                    <div class="infos-box">
                        <h3>DATA WYDANIA</h3>
                        <p>20/12/2019</p>
                    </div>
                    <div class="infos-box">
                        <h3>KATEGORIA</h3>
                        <p>Bijatyka</p>
                    </div>
                    <div class="infos-box">
                        <h3>OCENA</h3>
                        <p>4.6/5</p>
                    </div>
                </div>

                <h2 class="recension">Recenzje naszych użytkowników</h2>

                <div class="recension-box">
                    <div class="author-box">
                        <div class="avatar"></div>
                        <p class="nick">Alojzy</p>
                    </div>
                    <div class="content-box">
                        <h3 class="content-title">Lorem ipsum dolor sit amet consectetur.</h3>
                        <p class="content-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae ullam accusamus quibusdam illum sint dicta, totam, quis exercitationem, aperiam reprehenderit ut officiis repudiandae eligendi facilis rem aliquam iste molestiae. Nemo.</p>
                    </div>
                    <div class="rating-box">
                        <!-- <p class="rating-text">Moja ocena to:</p> -->
                        <fa-icon [icon]="faStar"></fa-icon>
                        <p class="rating"><span>4.3</span> / 5</p>
                    </div>
                </div>
                <div class="recension-box">
                    <div class="author-box">
                        <div class="avatar"></div>
                        <p class="nick">Alojzy</p>
                    </div>
                    <div class="content-box">
                        <h3 class="content-title">Lorem ipsum dolor sit amet consectetur.</h3>
                        <p class="content-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae ullam accusamus quibusdam illum sint dicta, totam, quis exercitationem, aperiam reprehenderit ut officiis repudiandae eligendi facilis rem aliquam iste molestiae. Nemo.</p>
                    </div>
                    <div class="rating-box">
                        <!-- <p class="rating-text">Moja ocena to:</p> -->
                        <fa-icon [icon]="faStar"></fa-icon>
                        <p class="rating"><span>4.3</span> / 5</p>
                    </div>
                </div>
                <div class="recension-box">
                    <div class="author-box">
                        <div class="avatar"></div>
                        <p class="nick">Alojzy</p>
                    </div>
                    <div class="content-box">
                        <h3 class="content-title">Lorem ipsum dolor sit amet consectetur.</h3>
                        <p class="content-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae ullam accusamus quibusdam illum sint dicta, totam, quis exercitationem, aperiam reprehenderit ut officiis repudiandae eligendi facilis rem aliquam iste molestiae. Nemo.</p>
                    </div>
                    <div class="rating-box">
                        <!-- <p class="rating-text">Moja ocena to:</p> -->
                        <fa-icon [icon]="faStar"></fa-icon>
                        <p class="rating"><span>4.3</span> / 5</p>
                    </div>
                </div>
                <div class="recension-box">
                    <div class="author-box">
                        <div class="avatar"></div>
                        <p class="nick">Alojzy</p>
                    </div>
                    <div class="content-box">
                        <h3 class="content-title">Lorem ipsum dolor sit amet consectetur.</h3>
                        <p class="content-text">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vitae ullam accusamus quibusdam illum sint dicta, totam, quis exercitationem, aperiam reprehenderit ut officiis repudiandae eligendi facilis rem aliquam iste molestiae. Nemo.</p>
                    </div>
                    <div class="rating-box">
                        <!-- <p class="rating-text">Moja ocena to:</p> -->
                        <fa-icon [icon]="faStar"></fa-icon>
                        <p class="rating"><span>4.3</span> / 5</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>