.profile-hero {
    position: relative;
    background-image: linear-gradient(hsla(0, 0%, 0%, 0.8), hsla(0, 0%, 0%, 0.8)), url(../../assets/images/login-hero.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-box {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 130px 0 80px 0;
    color: #ffffff;
    background-color: #000000dc;
    border-radius: 5px;
    box-shadow: 0 10px 40px 5px #2a6bf8;
}

.profile-box h1 {
    font-size: 40px;
    font-weight: 400;
    margin: 30px 0;
    color: #2a6bf8;
}

.profile-box h1::after {
    display: block;
    height: 2px;
    background-color: #2a6bf8;
    content: '';
    width: 40%;
    margin: 20px auto 0 auto;
}

.profile-info {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}

.data-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
}

.infos-box {
    width: 100%;
    border-bottom: 2px solid #2a6bf8;
    margin-bottom: 10px;
}

.infos-box label {
    display: inline-block;
    font-size: 14px;
    margin-bottom: 10px;
}

.infos-box p {
    margin-bottom: 10px;
    font-size: 22px;
}

.buttons {
    margin: 30px 0;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    width: 48%;
    height: 40px;
    margin-bottom: 15px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #2a6bf8;
}

.btn-profile {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #2a6bf8;
    transition: color .3s, background-color .3s, box-shadow .3s;
}

.btn-cancel {
    background-color: transparent;
    box-shadow: 0 0 10px 1px #2a6bf8;
    transition: color .3s, background-color .3s, box-shadow .3s;
}

.btn-profile:hover{
    color: #fff;
    background-color: #2a6bf8;
    box-shadow: 0 0 20px 5px #2a6bf8;
}

.btn-cancel:hover{
    color: #fff;
    background-color: #2a6bf8;
    box-shadow: 0 0 20px 5px #2a6bf8;
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.952);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 5;
}

.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #00000086;
    border-radius: 5px;
    box-shadow: 0 0 50px 2px #2a6bf8;
}

.edit-data {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    margin-top: 30px;
}

.form-row {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding: 20px;
}

.modal-row {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.input-class {
    width: 100%;
    height: 30px;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    color: #ffffff;
    font-size: 18px;
    background-color: transparent;
    border-bottom: 2px solid #2a6bf8;
    border-radius: 5px;
    transition: all .3s;
}

.input-class:focus {
    outline: none;
    box-shadow: 0 0 10px 1px #2a6bf8;
    border-bottom: 2px solid transparent;       
}

.label-class {
    color: #fff;
    font-size: 14px;
    margin-bottom: 5px;
}

.edit-infos { display: none; }

.edit-pass { display: none; }


.shares-show {
    height: 100px;
    width: 49%;
    background-color: #f4f4f4;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.shares-show h2 {
    font-weight: 400;
    font-size: 30px;
}

.shares-wrapper {
    width: 60%;
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}

.threads-show {

}

.recensions-show {

}

.threads-wrapper {
    width: 60%;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.recension-wrapper {
    width: 60%;
    height: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.recension-box {
    display: flex;
    width: 100%;
    height: 220px;
    margin: 0 auto 40px auto;
    background-color: #f4f4f4;
    border-radius: 4px;
}

.show {
    height: auto;
}

.thread {
    display: flex;
    width: 100%;
    height: 220px;
    margin: 0 auto 40px auto;
    background-color: #f4f4f4;
    border-radius: 4px;
    overflow: hidden;
    transform: none;
    transition: transform .3s, box-shadow .3s; 
}

.main-side {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 90px;
    width: 70%;
    cursor: pointer;
}

.left-tri {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    left: 0;
    transform: none;
    transition: all 1s;
    z-index: -1;
}

.right-tri {
    position: absolute;
    bottom: 0;
    right: 0;
    transition: right .3s;
    z-index: -1;
} 

.main-content {
    height: 100%;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.thread-category {
    width: 160px;
    font-size: 12px;
    color: #ffffff;
    text-align: center;
    background-color: #FF4747;
    border-radius: 50px;
    padding: 3px 0;
}

.main-content h2 {
    font-weight: 400;
    font-size: 30px;
    position: relative;
    padding-bottom: 10px;
}

.main-content h2::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #2a6bf8;
}

.author-side {
    width: 30%;
    background-color: #1C1C1C;
    color: #f4f4f4;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.author {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.author-avatar {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #fff;
    background-image: url('../../assets/images/forum/avataaars.png');
    background-position: center;
    background-size: cover;
    margin-bottom: 5px;
}

.author-nick {
    font-size: 22px;
    font-weight: 400;
}

.thread:hover {
    transform: scale(1.008);
    box-shadow: 0 0 35px 5px #2a6bf8;
}