.games-hero {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(to bottom right,rgba(0, 0, 0, 0.548), #00000091);
}

.myVideo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: -99;
}

.images-box {
    position: absolute;
    top: 20%;
    right: 10%;
    /* transform:perspective(500px) rotate3d(1,1,1,-20deg); */
}

.image-box {
    display: flex;
    justify-content: center;
    position: relative;
}

.shadow-box {
    display: flex;
    position: relative;
    z-index: 0;
    transform:perspective(500px) rotate3d(1,1,1,-20deg) scale(1);
    transition: transform .3s, z-index .3s;
}

.shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.616);
    transition: background-color .3s;
}

.image-box img {
    width: 350px;
    height: 250px;
    object-fit: cover;
    box-shadow: 10px -10px 40px 1px #000000;
}

.shadow-box:hover {
    transform:perspective(500px) rotate3d(1,1,1,0deg) scale(1.1); 
    z-index: 10;
}

.shadow-box:hover .shadow {
    background-color: rgba(0, 0, 0, 0.274);
}

.header-box {
    position: absolute;
    color: white;
    left: 20%;
    top: 36%;
    z-index: 20;
}

.header-box h1 {
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 400;
}

.header-box p {
    font-size: 20px;
}

.btn {
    width: 200px;
    height: 40px;
    margin-top: 50px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    font-weight: 700;
    color: #2a6bf8;
}

.btn-login {
    background-color: #fff;
    box-shadow: 0 0 10px 1px #2a6bf8;
    transition: color .3s, background-color .3s, box-shadow .3s;
}

.btn-login:hover{
    color: #fff;
    background-color: #2a6bf8;
    box-shadow: 0 0 20px 5px #2a6bf8;
}

.section-categories { display: flex; }

app-categories { width: 20%; }

.container {
    width: 80%;
}

.container h1 {
    text-align: center;
    font-size: 35px;
    font-weight: 400;
    margin: 30px auto;
}

.container h1::after {
        display: block;
        height: 2px;
        background-color: #2a6bf8;
        content: '';
        width: 10%;
        margin: 20px auto 40px auto;
}

app-categories-main {
    width: 70%;
}

/* .cat-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
    background-image:linear-gradient(to bottom right, #2a6bf896, #000000d8), url(../../assets/images/games-cat/bijatyki.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 20px 5px #2a6bf8;
    color: #f2f2f2;
    width: 70%;
    height: 200px;
    border-radius: 5px;
    cursor: pointer;
    transition: box-shadow .3s;
}

.cat-box h2 {
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 400;
    transition: color .3s;
}

.cat-box fa-icon {
    color: #fff;
    font-size: 40px;
    margin: 0 20px;
    filter: drop-shadow(0px 0px 20px #cccccc);
    transition: color .3s, filter .3s, transform .3s;
}

.cat-box p {
    line-height: 0;
    opacity: 0;
    transition: line-height .3s, opacity .3s;
}

.cat-box:hover {
    background:linear-gradient(to bottom right, #002066e0, #000000);
    box-shadow: 0 0 40px 15px #2a6bf8;
}

.cat-box:hover h2 { color: #2a6bf8; }

.cat-box:hover fa-icon {
    color: #ffffff;
    filter: drop-shadow(0px 0px 20px #2a6bf8);
    transform: scale(1.2);
}

.cat-box:hover p {
    opacity: 1;
    line-height: 2;
} */