<section class="hero-section">
    <div class="shadow"></div>
    <div class="hero-box">
        <h1>SPRAWY TECHNICZNE</h1>
        <p>Tutaj możesz szukać pomocy jeśli masz problemy ze sprzętem. ⚙</p>
    </div>    
    <img src="../../../assets/images/forum/threads/techniczne.jpg" alt="Zdjęcie wątku">
</section>
<section class="threads-section">
    <div class="row">
        <div class="threads-heading">
            <h2>Problemy ze sprzętem?</h2>
            <p>Załóż wątek na naszym forum i przekonaj się, że każdy problem da się rozwiązać!</p>
        </div>
        <div class="thread">
            <div class="main-side">
                <img src="../../../assets/images/forum/SVG/LeftTriangle.svg" alt="Some decoration" class="left-tri">
                <img src="../../../assets/images/forum/SVG/RightTriangle.svg" alt="Some decoration" class="right-tri">
                <div class="main-content">
                    <p class="thread-category">SPRAWY SPRZĘTOWE</p>
                    <h2>Tytuł posta, jakis se tytuł</h2>
                    <p class="thread-info">Ostatni post: 22 / 08 / 2020</p>
                    <p class="thread-info">Ilość postów: 14</p>
                </div>
            </div>
            <div class="author-side">
                <p class="author-date">21/ 08 / 2020</p>
                <div class="author">
                    <div class="author-avatar">
                        <!-- <img src="../../../assets/images/forum/avataaars.png" alt="Avatar"> -->
                    </div>
                    <h4 class="author-nick">Stefan Batory</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section style="height: 100vh;"></section>