<section class="register-hero">
    <div class="register-box">
        <h1>Zarejestruj się</h1>
        <p>Podaj poprawne dane. Wszystkie pola są wymagane!</p>
        <div class="data-row">
            <div class="data-row-half">
                <label for="firstName" class="label-class">Imię:</label>
                <input type="text" id="firstName" class="input-class">

                <label for="lastName" class="label-class">Nazwisko:</label>
                <input type="text" id="lastName" class="input-class">

                <label for="nickName" class="label-class">Login:</label>
                <input type="text" id="nickName" class="input-class">
            </div>

            <div class="data-row-half">
                <label for="e-mail" class="label-class">E-mail:</label>
                <input type="text" id="e-mail" class="input-class">

                <label for="password" class="label-class">Hasło:</label>
                <input type="text" id="password" class="input-class">

                <label for="password-rep" class="label-class">Potwierdź hasło:</label>
                <input type="text" id="password-rep" class="input-class">
            </div>
        </div>
        <button class="btn btn-register">ZAREJESTRUJ</button>
        <button class="btn btn-cancel">ANULUJ</button>
        <p class="no-account">Masz konto na naszym portalu? <a href="/login">Zaloguj się!</a></p>
    </div>
</section>